*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: #000;
}

.nav-container{
    padding:  13px;
    color: #fff;
    display: flex;
    margin: 0 38px;

}
.nav-logo{
    flex: 1;
    font-family: 'Sen', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(7, 165, 112);
    font-weight: 600;
    
}
.nav-menu{
    flex: 6;
    font-family: 'Sen', sans-serif;

}
.main{
    font-weight: bold;
    color: whitesmoke;
}
.nav-menu li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.nav-profile{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.profile-text{
    margin-right: 5px;
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    right: 1px;
    transition: all 1s ease-in-out;
}
.toggle-icon{
    color: gold;
}

.sidebar{
    width: 50px;
    height: 100vh;
    background-color: #000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    top: 0;
}
.icon{
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
}
.container{
    color: #fff;
    background-color: #151515;
    min-height: calc(100vh - 50px);
    margin-left: 50px;
}

.featured-content{
    padding: 50px;
    height: 50vh;
    background-color: tomato;
    background : linear-gradient(to top , #151515 , transparent ) , url(./imgs/f-1.jpg);
}
.featured-title{
    height: 100px;
}

.featured-desc{
    width: 600px;
    font-size:20px;
    color: lightgray;
    margin: 20px 0;
}
.featured-button{
    background-color: rgb(70, 204, 70);
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.movie-list-container{
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    padding: 0 50px;

}
.movie-list-item{
    position: relative;
    margin-right: 30px;
}
.movie-list-img{
    height:200px;
    width: 285px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}
.movie-list-item:hover .movie-list-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-desc ,
.movie-list-item:hover .movie-list-button ,
.movie-list-item:hover .movie-list-title {
    opacity: 1;
}
.movie-list-title{
    background-color: #333;
    padding: 0 5px;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
    
}
.movie-list-desc{
    width: 200px;
    background-color: #333;
    position: absolute;
    top: 42px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.movie-list-button{
    background-color: rgb(70, 204, 70);
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 10px 10px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}


.movie-list-wrapper{
    display: flex;
    transition: all 1s ease-in-out;
}

.movies-arrow{
    font-size: 120px;
    position: absolute;
    top: 70px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    transition: all 1s ease-in-out;
}
.movies-arrow:hover{
    opacity: 1;
}
h2{
    margin-bottom: 20px;
}
.f-two{
    margin-top: 50px;
    background-color: tomato;
    background : linear-gradient(to top , #151515 , transparent ) , url(./imgs/f-2.jpg);
}

.nav.active{
    background-color: #fff;
}
.container.active{
    background-color: #fff;
}
.sidebar.active{
    background-color: #fff;
}
.icon.active{
    color: #000;
}
.nav-container.active{
    background-color: #fff;
    color: #000;
}
.toggle.active{
    background-color: #000;
}
.toggle-ball.active{
    background-color: #fff;
    transform: translateX(-20px);
}
.main.active{
    color: black;
}
h2.active{
    color:#000;
}

@media only screen and (max-width : 940px) {
    .nav-menu{
        display: none;
    }
    .featured-content{
        overflow: hidden;
    }
    .featured-desc{
        width: 370px;
    }
}